{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
     Heyy {{ name }} - {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

{% if name %}
     <h1>hello {{ name }}</h1>
     <br/>
     <img src = "{{ url_for('static',filename = 'images/download.jpg')}}" width = 100 >
     <br><br/>
     <p id = 'demo'>this is the stuff...</p>
<script src = "{{ url_for('static',filename = 'js/style.js')}}" ></script>

{% else %}
    <h1>whats your name?</h1>
    <br/>
    <form method = 'POST'>
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>

{% endif %}
{% endblock %}